/*  your css code here. If applicable */
table{
	width:700px;
	
	border-bottom:3px solid black;
}
table tr th{
	padding:10px;
}
h1{
	text-align:center;
	font-weight:100;
}
.form-group{
	width:90vw;
}
.form-group input {
	width:90vw;
	margin-bottom:20px;
	padding:10px;
}
#submit{
	padding:10px;
}
.book{
	color:blue;
}

